body{
	margin: 0;
	height: 100vh;
	position: relative;
	background-color: #dadade;
	
}
.img-jogo{
	width: 100% !important;
	height: 150px !important;
	cursor: pointer;
	border: 2px solid grey;
}.img-jogo:hover{
	border: 2px solid #babad0;
	z-index: 1;
	padding: 1px;

}
#principal{
	width: 90%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-gap: 3px;
	margin: auto;

}.contador{
	border: 0.5px solid black;
	max-width: 40%;
	border-radius: 10px 10px 10px 10px;
	margin: 0 auto;
	padding: 5px;
	margin-bottom:  1%;
	margin-top:  1%;
}
.contador  p{
	font: 800 20px 'Arial' !important;
	display: inline;
	margin-left: 5%;
	
}header{
	max-width: 100%;
	text-align: center;
	font: 800 30px 'Arial';
	background-color: #babad0;
	color: white;
}header h1{
	margin: 0;
}header a{
	text-decoration: none;
	color: #464242;
}footer{
	color: white;
	background-color: #babad0;
	text-align: center;

}footer h2{
	margin: 0;
	margin-top: 25px;
}footer a{
	text-decoration: none;
	color: #464242;
}
